<div>
  <div>
    <h1>
      Thing #<%= @the_thing.id %> details
    </h1>

    <div>
      <div>
        <a href="/things">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_thing/<%= @the_thing.id %>">
          Delete thing
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_thing.name %>
      </dd>

      <dt>
        Parent
      </dt>
      <dd>
        <%= @the_thing.container_id %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_thing.owner_id %>
      </dd>

      <dt>
        Exclude from search
      </dt>
      <dd>
        <%= @the_thing.exclude_from_search %>
      </dd>

      <dt>
        Can contain things
      </dt>
      <dd>
        <%= @the_thing.can_contain_things %>
      </dd>

      <dt>
        Image url
      </dt>
      <dd>
        <%= @the_thing.image_url %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_thing.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_thing.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_thing.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit thing
    </h2>

    <form action="/modify_thing/<%= @the_thing.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_thing.name %>">
      </div>

      <div>
        <label for="container_id_box">
          Parent
        </label>

        <input type="text" id="container_id_box" name="query_container_id" value="<%= @the_thing.container_id %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_thing.owner_id %>">
      </div>

      <div>
        <input type="checkbox" id="exclude_from_search_box" name="query_exclude_from_search" value="1" <%= "checked" if @the_thing.exclude_from_search %>>

        <label for="exclude_from_search_box">
            Exclude from search
        </label>
      </div>

      <div>
        <input type="checkbox" id="can_contain_things_box" name="query_can_contain_things" value="1" <%= "checked" if @the_thing.can_contain_things %>>

        <label for="can_contain_things_box">
            Can contain things
        </label>
      </div>

      <div>
        <label for="image_url_box">
          Image url
        </label>

        <input type="text" id="image_url_box" name="query_image_url" value="<%= @the_thing.image_url %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_thing.description %></textarea>
      </div>

      <button>
        Update thing
      </button>
    </form>
  </div>
</div>

<hr>
